<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'profile.jpeg' %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>
      Lorem ipsum dolor amet artisan heirloom beard small batch craft beer leggings pop-up. Whatever hammock iPhone actually single-origin coffee selfies kogi man braid wolf asymmetrical health goth succulents four dollar toast food truck. Distillery gluten-free live-edge fanny pack crucifix, selfies bitters put a bird on it. Tote bag schlitz brooklyn vice, beard you probably haven't heard of them squid hoodie sriracha cray roof party. VHS migas banjo, 8-bit shabby chic single-origin coffee sartorial listicle blue bottle glossier pinterest pug.

      Vexillologist you probably haven't heard of them chambray polaroid schlitz. Kickstarter listicle readymade, literally kombucha glossier neutra skateboard copper mug authentic franzen fam venmo. Dreamcatcher etsy williamsburg truffaut, pop-up bushwick VHS subway tile organic. 90's sriracha typewriter air plant roof party banh mi.
    </p>
  </div>
</div>